.menu{
  @include flex(space-between);
  margin: rem(45) rem(179) rem(51);

  &__item{
    font-size: rem(11);
    line-height: rem(22);
    letter-spacing: rem(1.1);
    color: $text-color;
    text-transform: uppercase;
    transition: color 0.3s;

    &--home{
      color: #57A4A4;
    }
  }
}

.hero-img{
  width: 100%;
}

.burger{
  width: rem(44);
  height: rem(37);
  margin: rem(23) 0 rem(23) auto;
  display: none;
  background-color: black;
}

@media (max-width: 940px){
  .menu{
    margin: rem(41) rem(84) rem(43);
  }
}

@media (max-width: 768px){
  .burger{
    display: block;
  }
  .menu{
    position: absolute;
    width: rem(182);
    right: rem(16);
    top: rem(37);
    flex-direction: column;
    align-items: start;
    margin: 0;
    background-color: #F5F5F5;
    opacity: 0;
    pointer-events: none;
    transition: all .5s ease-in-out;

    &__item{
      padding-left: rem(12);
      width: 100%;
      padding-block: rem(6.5) rem(3.5);
      transition: background-color 0.3s;

      &:active{
        background-color: #E5E5E5;
        color: $text-color;
      }
    }
  }
}

.menu.active{
  opacity: 1;
  top: rem(37);
  pointer-events: all;
}
